body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/107/680/original/fruitsandveggies.jpg?1702912283");
  background-size: cover;
}

p {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  border-bottom: rgba(197, 12, 102, 0.2) solid;
  padding: 10px;
  margin: 35px;
}

form {
  display: flex;
}

input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px rgba(240, 120, 16, 0.4),
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px rgba(197, 12, 102, 0.4),
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

footer {
  text-align: center;
  border-top: rgba(197, 12, 102, 0.2) solid;
  padding: 10px;
  margin: 35px;
  color: rgba(197, 12, 102, 1);
  font-size: 15px;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 100%;
  min-width: fit-content;
  box-shadow: 26px 26px 42px #868686, -26px -26px 42px #ffffff;
  border-radius: 45px;
  margin: 120px 60px;
  padding: 15px;
}

.site-name {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-family: Rubik Doodle Shadow;
  color: #f07810;
  padding: 0px;
  margin-bottom: 0;
  text-shadow: 1px 0 10px;
}

.subtitle {
  color: rgba(197, 12, 102, 1);
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 4.2px;
  font-size: 15px;
  font-weight: bold;
  line-height: 10px;
  border-radius: 50px;
  text-shadow: 1px 0 10px;
}

.form-wrapper {
  margin: auto;
  padding: 0px;
  min-width: auto;
  max-width: fit-content;
  align-items: center;
}

.instructions {
  padding: 16px;
  width: 55%;
  min-width: 300px;
}

.inspire-me {
  max-width: 20%;
  min-width: fit-content;
  margin-left: 5px;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 15px;
  opacity: 0.6;
  text-align: left;
}

.recipe {
  font-size: 15px;
  padding: 30px;
  margin: 30px 30px;
  line-height: 1.5;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px rgba(197, 12, 102, 0.4),
    inset -20px -20px 60px #ffffff;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.hidden {
  display: none;
}

.footer-link {
  color: #f07810;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 0 10px;
}
